.body-container {
    font-family: 'Work Sans', sans-serif;
    position:relative;
    overflow: hidden;
    background-image: -webkit-linear-gradient(224deg, #4396FF 0%, #45F2B7 100%);
    background-image: -o-linear-gradient(224deg, #4396FF 0%, #45F2B7 100%);
    background-image: linear-gradient(-134deg, #4396FF 0%, #45F2B7 100%);
    width: 100vw;
    height: 100vh;
}

h1{
    display: none;
}
h2{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-style: italic;
}
.content{
    padding-top: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.main-logo{
    width: 30vw;
}
.fadeIn{
    -webkit-animation: fadeIn 3000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeIn 3000ms ease-in-out;
}

#play{  
    color: white;
    opacity: 0;
    margin-top: 30px;
    font-size: 8vw;
}
.pointer-animation{
    -webkit-transition: font-size 0.6s; /* Safari */
    -o-transition: font-size 0.6s;
    transition: font-size 0.6s;
}
.pointer-animation:hover{
    font-size: 10vw;
}

.video-container{
    position: absolute;
    width:100vw;
    height: 100vh;
    background: black;
    opacity: 1;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
iframe{
    opacity: 1;
    width: 70vw;
    height: 80vh;
    background: black;
}
#video-container-closer{
    position: absolute;
    z-index: 2;
    right: 3vw;
    top: 3vw;
    font-size: 2vw;
    color: white;
    display: none;
    cursor: pointer;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 414px) {
    .main-logo{
        width: 60vw;
    }
    .content{
        top: -45px;
    }
    #play{
        font-size: 20vw;
    }
    .video-container{
        width:100vw;
        height: 100vh;
    }
    iframe{
        width: 100vw;
        height: 30vh;
    }
    #video-container-closer{
        right: 5vw;
        top: 5vw;
        font-size: 10vw;
    }
}