body {
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
    background-image: linear-gradient(-134deg, #4223AE 0%, #FF0079 100%);
    width: 100vw;
    height: 100vh;
}

h1{
    display: none;
}
h2{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-style: italic;
}
.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
img{
    width: 30vw;
}

.fadeIn{
    -webkit-animation: fadeIn 3000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeIn 3000ms ease-in-out;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 375px) {
    img{
        width: 60vw;
    }
    .content{
        top: -60px;
    }
}