body {
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
    background-image: linear-gradient(-134deg, #4223AE 0%, #FF0079 100%);
    width: 100vw;
    height: 100vh;
}

h1{
    display: none;
}
h2{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-style: italic;
}
.content{
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.main-logo{
    width: 30vw;
}
.fadeIn{
    -webkit-animation: fadeIn 3000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeIn 3000ms ease-in-out;
}

i{  
    color: white;
    opacity: 0;
    margin-top: 30px;
    font-size: 8vw;
}
.pointer-animation{
    -webkit-transition: font-size 0.6s; /* Safari */
    transition: font-size 0.6s;
}
.pointer-animation:hover{
    font-size: 10vw;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 375px) {
    .main-logo{
        width: 60vw;
    }
    .content{
        top: -45px;
    }
    i{
        font-size: 20vw;
    }
}
